################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pesquisador-de-Antibioticos/v17
/PesqAntibiDesktop/.vs/PesqAntibiDesktop
/PesqAntibiDesktop/.vs/ProjectEvaluation
/PesqAntibiDesktop/.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages
*.vs

/PesqAntibiDesktop/PesqAntibiDesktop/coisas.css
/PesqAntibiDesktop/PesqAntibiDesktop/contato.html
/PesqAntibiDesktop/PesqAntibiDesktop/index.html
/PesqAntibiDesktop/PesqAntibiDesktop/login.css
/PesqAntibiDesktop/PesqAntibiDesktop/login.html
/PesqAntibiDesktop/PesqAntibiDesktop/login.js

