################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pesquisador-de-Antibioticos/v17
/PesqAntibiDesktop/.vs/PesqAntibiDesktop
*.suo
*.user
_ReSharper.*
bin
obj
packages

.vs/
[Bb]in/