body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    
}

.titulo-inicial {
    font-family: 'Open Sans', sans-serif; /* Define a fonte como Open Sans */
    font-weight: bold; /* Aplica o estilo bold */
    font-size: 3em;
    margin: 35px;
    color: black;
    text-align: center;
}

.titulo-tabela {
    font-family: 'Open Sans', sans-serif; /* Define a fonte como Open Sans */
    font-weight: bold; /* Aplica o estilo bold */
    font-size: 2.5em;
    margin: 10px;
    color: black;
    text-align: center;
}

.texto-explicativo {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0px;
}

.background-title {
    background-color: #00adad; /* Light green */
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
    font-family: 'League Spartan';
    font-weight: bold;
}

.resize-image-title {
    padding-left: 5px;
    width: 2.6em; /* Slightly larger than the font size (2.5rem) */
    height: auto; /* Maintain aspect ratio */
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #006494; /* Light blue */
    
    gap: 20px; /* Espaçamento entre os itens da barra de navegação */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar div {
    margin: 0 5px;
}

.alinharHorizontalEsquerdaCentro {
    display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
}

.navbar h2 a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.navbar h2 a:hover {
    text-decoration: underline;
}

.container-input {
    position: relative; /* Estabelece um contexto de posicionamento */
    display: inline-block; /* Faz o container ter largura apenas do tamanho do seu conteúdo */
}

.entrada-personalizada {
    width: 200px;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box; /* Inclui padding e borda na largura e altura total do elemento */
}

.icone-input {
    position: absolute; /* Posiciona o ícone dentro do container */
    right: 15px; /* Posiciona o ícone a 10px da borda direita do container */
    top: 50%; /* Centraliza verticalmente o ícone */
    transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
    width: 30px; /* Tamanho do ícone (ajuste conforme necessário) */
    height: 30px; /* Mantém a proporção */
}



.iframe-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

