/* Default Models:
Body
Form
Navbar
Table (Nota: não concluido, vai dar trabalho pra caralho)
(Nota 2: vai dar ainda mais trabalho do que eu imaginei, não da pra fazer isso sem ter uma boa parte de javascript e php)
(Nota 3: tem que deixar elas mais bonitas depois, e tem que decidir se o acesso as tabelas personalizadas vai ficar na navbar ou em cima da tabela normal do site)
*/

@import url(style.css);




/*
DEFAULT MODEL:
BODY
*/

/* Esse é o body padrão caso a página não tenha um exclusivo */
body.body-default {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-grey-light-2);
    color: #000;
}




/* 
DEFAULT MODEL: 
FORM 
*/

/* Body para caso a página não tenha nada além do formulário */
body.body-form {
    margin: 0;
    padding: 0;
    background-color: var(--color-blue-default);
}

/* Modelo padrão de formulário pra tudo*/
.form-default {
    border: 0px;
    border-radius: 12px;

    background-color: var(--color-grey-light);

    min-width: 380px;
    padding: 1px 10px 20px 10px;

    /* Usar na div do titulo */
    div.title-form {
        font-family: var(--font-all-form);
        color: #000;
        margin-top: 15px;

        img {
            width: 23px;
            height: 23px;
            margin-top: 3px;
            margin-right: 7px;
        }
        
    }

    /* Usar nos campos de texto */
    input.inp-form {
        border: 2px solid #000;
        border-radius: 10px;
        height: 35px;
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        color: #000;
        font-family: var(--font-all-form);
    
    }
    
    input.inp-form :focus {
        outline: none;
        box-shadow: 0 0 0 1px #000;
    }

    /* Botão para enviar o formulário */
    button.btn-form {
        margin: 0;
        height: 40px;
        width: 100%;
        border: 0px;
        border-radius: 10px;
        background-color: var(--color-green-none);
        font-size: 20px;
        color: white;
        transition: all 0.2s;
    }
    
    button.btn-form:hover {
        background-color: var(--color-green-dark);
    }

    /* Usar em qualquer texto extra que tenha no formulário */
    .text-form {
        margin: 0;
        font-family: var(--font-all-form);
        color: black;
        font-size: 15px;
    }

    
}

/* Responsividade */
@media (max-width: 405px) {
    .form-default {
        min-width: 230px;

        div.title-form {
            font-size: 9px;

            img{
                width: 15px;
                height: 15px;
                margin-left: 4px;
                margin-top: 1px;
            }
        }

        button.btn-form {
            height: 36px;

            font-size: 17px;
        }
    }
}




/*
DEFAULT MODEL:
NAVBAR
*/

/*navbar responsiva*/
div.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /*div sem utilidade pratica a esquerda, div com itens a direita*/
    position: fixed;

    padding-top: 10px;
    padding-bottom: 15px;

    width: 100%;

    background-color: var(--color-blue-default);

    z-index: 5;
}

div.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--font-text-navbar);
    font-size: 17px;
    color: white;

    gap: 10px;
    margin-left: 20px;

    img {
        height: 23px;
    }
}

div.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;
    margin-right: 20px;
    
    a {
        font: var(--font-text-navbar);
        font-size: 17px;
        color: white;
        text-decoration: none;
    }a:hover {
        text-decoration: underline;
    }a:focus {
        border-radius: 5px;
        outline: 2px solid white;
    }
}

/*responsividade --- navbar*/
@media (min-width: 511px) and (max-width: 630px) {
    div.nav-left {
        font-size: 15px;

        gap: 8px;

        img {
            height: 20px;
        }
    }

    div.nav-right {
        a {
            font-size: 15px;
        }
    }
}

@media (max-width: 510px) {

    div.navbar {
        justify-content: center;
    }

    div.nav-left {
        display: none;
    }

    div.nav-right {
        margin: 0;
        gap: 9px;

        a{
            font-size: 14px;
        }
    }
}


/*Tabela principal*/

/*aaaaaaaaa*/

.table-default{

    border: 1px solid gray;
    margin-left: 13%;
    margin-right: 13%;

    width: 74%;

    tr{
        border: 1px solid lightgray;
        th, td{
            border: 1px solid lightgray;
            text-align: center;
            font-size: 16px;

        }
        th{
            z-index: 1;
            position: relative;

            background-color: white;
            
            button.btnFilter{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

                border: none;
                background-color: white;
            }

            div.filtro {
                position: absolute;
                right: 0;
                display: none;
                flex-direction: column;
                align-items: center;

                width: 200px;

                button {
                    margin-top: 3px;
                    margin-bottom: 3px;

                    border-radius: 9px;
                    border-color: white;
                    background-color: white;
                }

                background-color: rgb(240, 240, 240);
                border-radius: 9px 0px 9px 9px;

            }
        }
    }
}

@media (max-width: 1449px) {
    .table-default{
        margin-left: 7%;
        margin-right: 7%;

        width: 86%;
        tr{
            th, td{
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1009px) {
    .table-default{
        margin-left: 0;
        margin-right: 0;

        width: 100%;
        tr{
            th, td{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 819px) {
    .table-default{
        width: 820px;

        tr{
            border: 1px solid lightgray;
            th, td{
                border: 1px solid lightgray;
                text-align: center;
                font-size: 12px;
            }
            th{
                position: relative;

                background-color: white;
                
                button.btnFilter{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    border: none;
                    background-color: white;
                }
            }
        }
    }
}


/*
DEFAULT MODEL:
NAVBAR-TABLE
*/

/*navbar-tabela responsiva*/
div.navbar-table {
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;

    margin-top: 48px;
    padding-left: 20px;
    width: 100%;
    height: 60px;

    gap: 30px;
    font-size: 15px;
    font-weight: bold;

    background-color: white;

    z-index: 5;
}

a.nav-table-active {
    color: black;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

a.nav-table-no-active {
    color: darkslategray;
    text-decoration: none;
}

.nav-table-no-active:hover {
    color: black;

    transition: 0.5s;
}

@media (max-width: 630px) {
    div.navbar-table {
        margin-top: 44px; /*NÃO MUDA ISSO*/ 

        gap: 20px;
        font-size: 13px;
        height: 45px;
    }


}

@media (max-width: 510px) {
    div.navbar-table {
        justify-content: center;

        margin-top: 43px; /*NÃO MUDA ISSO*/
        margin-left: 0;

        gap: 13px;
        font-size: 11px;
        height: 40px;
    }
}

@media (max-width: 378px) {
    div.navbar-table {
        justify-content: center;
        align-items: center;

        margin-top: 43px; /*NÃO MUDA ISSO*/
        margin-left: 0;
        padding: 0;

        gap: 11px;
        font-size: 10px;
        height: 35px;
    }
}