body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    
}

.botao-arredondado {
    background-color: #00adad; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    font-size: 1.5em; /* Tamanho da fonte */
    padding: 15px 30px; /* Aumenta o espaçamento interno (vertical | horizontal) */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 30px; /* Arredonda as bordas do botão */
    cursor: pointer; /* Mostra o cursor de mão ao passar sobre o botão */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    font-family: 'Open Sans', sans-serif; /* Define a fonte como Open Sans */
    font-weight: bold; /* Aplica o estilo bold */
    background: linear-gradient(90deg, #20e63a, #009dcf); /* Gradiente linear da cor #20e63a para #009dcf */
}

.botao-arredondado:hover {
    background-color: #008080; /* Cor de fundo ao passar o mouse */
}

/*==================Separando==================*/

/*fazer uma media query que faz o texto da navbar-start sumir e deixar só imagem quando diminuir*/
.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    padding-top: 10px;
    padding-bottom: 15px;

    width: 100%;

    background-color: #006494;
}

.navbar-start{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    
    gap: 15px;
    margin-left: 20px;

    img {
        width: 30px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

.navbar-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: auto;
    gap: 20px;
    margin-right: 20px;

    a {
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

