/* Centraliza totalmente um item em relação a tela ou elemento pai que ele é colocado */
.center-absolute {
    position: absolute; /* ou fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*provisório*/
.limit-test {
    width: 20%;
    height: 100vh;

    background-color: rgb(88, 88, 88);
}

@media (max-width: 700px) {
    .limit-test {
        width: 30%;
    }
}