@import url(style.css);

/* Centraliza totalmente um item em relação a tela ou elemento pai que ele é colocado */
.center-absolute {
    position: absolute; /* ou fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*provisório*/
.limit-test {
    width: 20%;
    height: 100vh;
    padding: 0%;

    background-color: rgb(88, 88, 88);
}

@media (max-width: 700px) {
    .limit-test {
        width: 30%;
    }
}

/*prvisório - Esqueci minha senha*/
.senha{
    font-size: 90px;
    font-family: var(--font-all-form);
    background-color: white;
}

