/* Custom itens:
Color
Font
Link
*/




/* 
CUSTOM:
COLOR
 */
:root {
    --color-blue-default: #006494;
    --color-blue-dark: #09008b;
    --color-blue-dark-2: #040058;
    --color-green-none: #17ac04;
    --color-green-dark: #108101;
    --color-grey-light: #ffffffe0;
    --color-grey-light-2: #f4f4f9;
}




/*
CUSTOM:
FONT
*/
:root {
    --font-link-default: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-text-navbar: 17px "Open Sans", sans-serif;
    --font-all-form: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/*
CUSTOM:
LINK
*/
a.link-blue {
    font-family: var(--font-link-default);
    color: var(--color-blue-dark);
    text-decoration: none;
}a.link-blue:hover {
    color: var(--color-blue-dark-2);
    text-decoration: underline;
}