body {
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #006494;

    color: white;
    font-family: 'Open Sans', sans-serif;
    gap: 1%;
}

.imagem-logo{
  width: 35px;
}




.navbar {
    
}