@import url(style.css);

/*navbar responsiva*/
div.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /*div sem utilidade pratica a esquerda, div com itens a direita*/
    position: fixed;

    padding-top: 10px;
    padding-bottom: 15px;

    width: 100%;

    background-color: var(--color-blue-default);
}

div.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--font-text-navbar);
    font-size: 17px; /*NÃO MUDA ISSO*/ 
    color: white;

    gap: 10px;
    margin-left: 20px;

    img {
        height: 23px;
    }
}

div.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;
    margin-right: 20px;
    
    a {
        font: var(--font-text-navbar);
        font-size: 17px; /*NÃO MUDA ISSO*/ 
        color: white;
        text-decoration: none;
    }a:hover {
        text-decoration: underline;
    }a:focus {
        border-radius: 5px;
        outline: 2px solid white;
    }
}

/*responsividade --- navbar*/
@media (max-width: 630px) {
    div.nav-left {
        font-size: 16px; /*NÃO MUDA ISSO*/ 

        gap: 8px;

        img {
            height: 20px;
        }
    }

    div.nav-right {
        a {
            font-size: 15px; /*NÃO MUDA ISSO*/ 
        }
    }
}

@media (max-width: 510px) {

    div.navbar {
        justify-content: center;
    }

    div.nav-left {
        display: none;
    }

    div.nav-right {
        margin: 0;
        gap: 9px;

        a{
            font-size: 14px; /*NÃO MUDA ISSO*/ 
        }
    }
}

/*navbar-tabela responsiva*/
div.navbar-table {
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;

    margin-top: 48px;
    margin-left: 20px;
    width: 100%;
    height: 60px;

    gap: 30px;
    font-size: 15px;
    font-weight: bold;

    background-color: white;
}

a.nav-table-active {
    color: black;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

a.nav-table-no-active {
    color: darkslategray;
    text-decoration: none;
}

.nav-table-no-active:hover {
    color: black;

    transition: 0.5s;
}

@media (max-width: 630px) {
    div.navbar-table {
        margin-top: 47px; /*NÃO MUDA ISSO*/ 

        gap: 20px;
        font-size: 13px;
        height: 45px;
    }


}

@media (max-width: 510px) {
    div.navbar-table {
        justify-content: center;

        margin-top: 44px; /*NÃO MUDA ISSO*/
        margin-left: 0;

        gap: 14px;
        font-size: 12px;
        height: 40px;
    }
}

@media (max-width: 368px) {
    div.navbar-table {
        justify-content: center;

        margin-top: 44px; /*NÃO MUDA ISSO*/
        margin-left: 0;

        gap: 11px;
        font-size: 11px;
        height: 35px;
    }
}